<nav class="navbar navbar-light bg-light" style="position:relative;">
	<p></p>
	<img class="" src="IMG_0455.PNG" style="position:absolute; left:0; top:0; height:3.5rem;">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarColor03">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<p class="nav-link"></p>
			</li>
			<li class="nav-item active">
				<p class="nav-link"><i class="fas fa-user"></i> <span id="client-username"><%= user.name %></span>		
				</p>
			</li>
			<li class="nav-item active" style="display:none;">
				<p class="nav-link"><i class="fas fa-home"></i> The <span id="client-room"><%= user.last_room %></span> room</p>
			</li>
			<li class="nav-item active">
				<a id="gamecontrol" href="#" class="nav-link" style="display: none;"><i class="fas fa-play"></i> Start Game</a>
			</li>
			<li class="nav-item dropdown" style="display:none; visibility:hidden;">
				<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">Game Options</a>
				<div class="dropdown-menu">
				  <a id="gamecontrol" class="dropdown-item" href="/users/rules"> Teams</a>
				  <a  id="gamecontrol" class="dropdown-item" href="/users/deck"> Deck</a>
				</div>
			</li>
		</ul>
		<form class="form-inline my-2 my-lg-0">
			<a id="logoutcontrol" href="/users/logout" class="nav-link"><i class="fas fa-sign-out-alt"></i> Logout</a>
		</form>
	</div>
</nav>

		<div class="info-div mb-1" style="font-size: small; color: red;"></div>
		<div class="gamecontrolcontainer">
			<div class="startcontrol"><a id="gamecontrol1" href="#" class="itemL" style="color: black;"><i class="fas fa-play"></i> Start Game</a></div> 
			<div class="timercontrol"><div id="timer"></div> </div> 
			<div class="teamcontrol">
				<select name="teams" id="teams">
					<option value="teamA">Team A</option>
					<option value="teamB">Team B</option>
				</select>
			</div>
		</div>

			<div class="grid-container card-body" style="margin-left: auto; margin-right: auto;  max-width:30rem;" >
				<div class="item1" style="display: block; visibility: visible;"></div>
				
				<div class="container item2" style="margin-left: auto; margin-right: auto; width: 15rem;">
					<div class="card img-fluid" style="width:250px">
					  <img class="card-img-top" id="tabooCardColor" src="img_cardbackground_purple.PNG" style="width:100%">
					  <div class="card-img-overlay"  style="text-align: center; padding: 0px;">
							<p class="card-title guessWord" style="font-size: 81%; color: white; line-height: normal; height: 4rem; padding: 12px 0px;">
						</p>
						<p class="card-text taboo0" style="font-size: large; line-height: 1.8;">

						</p>
						<p class="card-text taboo1" style="font-size: large; line-height: 1.8;">

						</p>
						<p class="card-text taboo2" style="font-size: large; line-height: 1.8;">

						</p>
						<p class="card-text taboo3" style="font-size: large; line-height: 1.8;"></p>
						<p class="card-text taboo4" style="font-size: large; line-height: 1.8;"></p>
					  </div>
					</div>
				</div>
				  
				<div class="item3" id="giverControl0"; style="display: none;"><button onclick="passCard()" class="btn"><i class="fas fa-arrow-alt-circle-right fa-4x" style="color: blue;"></i></button></div>
				<div class="item4" id="giverControl1"; style="display: none;"><button onclick="checkCard()" class="btn"><i class="fas fa-check fa-4x" style="color: green;"></i></button></div>
				<div class="item5" id="buzzerControl" style="display: none;"><button onclick="buzzCard()" class="btn"><img src="img_buzzer.PNG" style="width:20%; position: relative; top: -65px; left:105px;"></button></div>

			  </div>
			  
	<div class="card card-body">
		<table class="table">
		  <thead>
			<tr>
			  <th scope="col"><h3><i class="fas fa-users"></h3></th>
			  <th scope="col"><h3>Users</h3></th>
			  <th scope="col"><h3>Points</h3></th>
			</tr>
		  </thead>
		  <tbody class="userlist-table">
		  </tbody>
		</table> 
	</div>

</div>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/DOM/dom.js"></script>
	<script src="/DOM/utils.js"></script>
	<script src="/client.js"></script>
	<link href="/css/style.css" rel="stylesheet" type="text/css">